{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">

    {% for carro in carros %}

    <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename='car.jpg') }}" class="card-img-top" alt="img">
        <div class="card-body">
          <h4 class="card-title">{{ carro.response.Modelo }}/{{ carro.response.AnoModelo }}</h4>
          <h5>{{ carro.response.Marca }} ({{ carro.response.CodigoFipe }})</h5>
          <p class="card-text">{{ carro.response.Combustivel }}</p>
          <p class="card-text">Valor de venda {{ carro.valor }}</p>
          <p class="card-text">Valor na tabela FIPE {{ carro.response.Valor }}</p>
          
          <form action="http://127.0.0.1:5000/compra" method="POST">
            <input type="hidden" name="carro_id" value="{{ carro.id }}" readonly>
            <button type="submit">Comprar</button>
          </form>
      </div>
    </div>
    
    <hr>
    
    {% endfor %}

</div>

{% endblock %}